{% extends "emptemplate.html" %}
{% load staticfiles %}


{% block title %}Sistema EPS: Gestión de solicitudes{% endblock title %}

{% block role %}
Despachador:
{% endblock role %}

{% block othercss %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/empcss.css' %}"/>
{% endblock othercss %}

{% block navbarcontent %}
	<li><a href="/appeps/despachador">Inicio</a></li>
	<li class="active"><a href="/appeps/despachador/solicitudes">Gestión de Solicitudes</a></li>
	<li><a href="/appeps/cerrarsesion">Cerrar sesión</a></li>
{% endblock navbarcontent %}

{% block rowscontent %}
	<div class="row">
		<div class="col-md-12">
			<div class="bs-callout-small bs-callout-blue">
			<a class="btn btn-primary" href="/appeps/despachador/solicitudes/actualizar/{{deliveryreq.id}}" role="button">
				Actualizar estado 
				<span class="glyphicon glyphicon-map-marker">
			</a>
			<a class="btn btn-primary" href="/appeps/despachador/solicitudes/editar/{{deliveryreq.id}}" role="button">
				Editar 
				<span class="glyphicon glyphicon-pencil">
			</a>
			<a class="btn btn-primary" href="/appeps/despachador/solicitudes/borrar/{{deliveryreq.id}}" role="button">
				Eliminar 
				<span class="glyphicon glyphicon-trash">
			</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		{% if deliveryreq %}
			<div class="panel panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Solicitud: {{deliveryreq.tracking_number}} - Entrega estimada: {{deliveryreq.delivery_date}}</h3>
				</div>
				<div class="panel-body">
			    	<ul class="list-group">
			    		<li class="list-group-item">
							<h4><span class="label label-primary">Estado:</span>
							{% if deliveryreq.status_set.last.status == '00' %}
								<span class="label label-default">Recibida</span>
							{% elif deliveryreq.status_set.last.status == '01' %}
								<span class="label label-info">Por despachar</span>
							{% elif deliveryreq.status_set.last.status == '02' %}
								<span class="label label-primary">Despachada</span>
							{% elif deliveryreq.status_set.last.status == '03' %}
								<span class="label label-success">Entregada</span>
							{% endif %}	
							</h4>
						</li>
						<li class="list-group-item">
							<h4><span class="label label-primary">Datos de destino:</span></h4>
							<h5><strong>Dirección:</strong> {{deliveryreq.address}}</h5>
							<h5><strong>Ciudad:</strong> {{deliveryreq.route.destination.city}}</h5>
							<h5><strong>Código Postal:</strong> {{deliveryreq.route.destination.zip_code}}</h5>
							<h5><strong>Estado: </strong>{{deliveryreq.route.destination.state}}</h5>
							<h5><strong>País:</strong> {{deliveryreq.route.destination.country}}</h5>
						</li>
						<li class="list-group-item">
							<h4><span class="label label-primary">Paquetes:</span></h4>
							<table class="table">
								<tr>
									<th>Paquete</th>
									<th>Peso</th>
									<th>Ancho</th>
									<th>Alto</th>
									<th>Largo</th>
									<th>Descripción</th>
								</tr>
								{% for pack in deliveryreq.package_set.all  %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ pack.weigth }} Kg.</td>
									<td>{{ pack.width }} Cm. </td>
									<td>{{ pack.height }} Cm.</td>
									<td>{{ pack.length }} Cm.</td>
									<td>{{ pack.description }}</td>
								</tr>
								{% endfor %}
							</table>
						</li>
						<li class="list-group-item">
							<h4><span class="label label-primary">Historial:</span></h4>
							<table class="table">
								<tr>
									<th>Fecha</th>
									<th>Estado</th>
									<th>Ciudad</th>
									<th>Provincia</th>
									<th>País</th>
								</tr>
								{% for dr in deliveryreq.status_set.all  %}
								<tr>
									<td>{{dr.status_date}}</td>
									{% if dr.status == '00' %}
										<td><span class="label label-default">Recibida</span></td>
									{% elif dr.status == '01' %}
										<td><span class="label label-info">Por despachar</span></td>
									{% elif dr.status == '02' %}
										<td><span class="label label-primary">Despachada</span></td>
									{% elif dr.status == '03' %}
										<td><span class="label label-success">Entregada</span></td>
									{% endif %}	
									<td>{{dr.location.city}}</td>
									<td>{{dr.location.state}}</td>
									<td>{{dr.location.country}}</td>
								</tr>
								{% endfor %}
							</table>
						</li>
						<li class="list-group-item">
							<h4><span class="label label-primary">Información adicional:</span></h4>
							<p>{{deliveryreq.additional_info}}</p>
						</li>
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock rowscontent %}