{% extends "emptemplate.html" %}
{% load staticfiles %}


{% block title %}Sistema EPS: Gestión de solicitudes{% endblock title %}

{% block role %}
	Gerente:
{% endblock role %}

{% block othercss %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/empcss.css' %}"/>
{% endblock othercss %}

{% block navbarcontent %}
	<li><a href="/appeps/gerente">Inicio</a></li>
	<li class="active"><a href="#">Gestión de Solicitudes</a></li>
	<li><a href="/appeps/gerente/reportes">Reportes</a></li>
	<li><a href="/appeps/gerente/eventos">Registro de eventos</a></li>
	<li><a href="/appeps/cerrarsesion">Cerrar sesión</a></li>
{% endblock navbarcontent %}

{% block rowscontent %}
	<div class="row">
		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#recibidas" data-toggle="tab">Recibidas</a></li>
				<li><a href="#pordespachar" data-toggle="tab">Por despachar</a></li>
				<li><a href="#despachadas" data-toggle="tab">Despachadas</a></li>
				<li><a href="#entregadas" data-toggle="tab">Entregadas</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  	<div class="tab-pane active" id="recibidas">
			  		<div class="bs-callout bs-callout-blue">
						<h1>Recibidas</h1>
					</div>
			  	</div>
			  	<div class="tab-pane" id="pordespachar">
			  		<div class="bs-callout bs-callout-blue">
						<h1>Por despachar</h1>
					</div>
			  	</div>
			  	<div class="tab-pane" id="despachadas">
			  		<div class="bs-callout bs-callout-blue">
						<h1>Despachadas</h1>
					</div>
			  	</div>
			  	<div class="tab-pane" id="entregadas">
			  		<div class="bs-callout bs-callout-blue">
						<h1>Entregadas</h1>
					</div>
			  	</div>
			</div>
		</div>
	</div>
{% endblock rowscontent %}