{% extends "emptemplate.html" %}
{% load staticfiles %}


{% block title %}Sistema EPS: Gestión de solicitudes{% endblock title %}

{% block role %}
	Gerente:
{% endblock role %}

{% block othercss %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/empcss.css' %}"/>
{% endblock othercss %}

{% block navbarcontent %}
	<li><a href="/appeps/gerente">Inicio</a></li>
	<li class="active"><a href="#">Gestión de Solicitudes</a></li>
	<li><a href="/appeps/gerente/reportes">Reportes</a></li>
	<li><a href="/appeps/gerente/eventos">Registro de eventos</a></li>
	<li><a href="/appeps/cerrarsesion">Cerrar sesión</a></li>
{% endblock navbarcontent %}

{% block rowscontent %}
	<div class="row">
		<div class="col-md-12">
			<div class="bs-callout bs-callout-blue">
				<h1>Gestión de solicitudes</h1>
			</div>
		</div>
	</div>
{% endblock rowscontent %}