{% extends "parenttemplate.html" %}
{% load staticfiles %}

{% block othercss %}
{% endblock othercss %}

{% block banner %}
<div class="container-fluid">
	<div class="row trans-cont">
		<div class="col-md-12">
			<img src="{% static 'assets/images/logosfpeq.png' %}" alt="EPS Express logo">
			{% if user.is_authenticated %} 
				<h3>{% block role %}{% endblock role %}{{ user.first_name }} {{user.last_name}}</h3>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							{% block navbarcontent %}
							{% endblock navbarcontent %}
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
</div>
{% endblock banner %}