<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/bootstrap-3.1.1-dist/css/bootstrap.min.css' %}"> 
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/default.css' %}"/>
    <title>{% block title %}EPS Express{% endblock title %}</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- Content -->
	<div class="container-fluid bluewhiteback">
		{% block rowscontent %}
		{% endblock rowscontent %}
    </div>
    <!-- End Content -->
    <script src="{% static 'assets/jquery-1.11.0.js' %}"></script>
    <script src="{% static 'assets/bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
    {% block otherscripts %}
    {% endblock otherscripts %}
</body>
</html>