{% extends "parenttemplate.html" %}
{% load staticfiles %}

{% block banner %}
<div class="row trans-cont">
	<div class="col-md-4">
		<img src="{% static 'assets/images/logosfpeq.png' %}" alt="EPS Express logo">       
	</div>
	<div class="col-md-8">
	</div>
</div>
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% block navbarcontent %}
				{% endblock navbarcontent %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

{% endblock banner %}
